@media screen and (max-width: 768px) {

    /* Place Mobile Styling here */
    .topnav{
        float: center;
        width: 100%;
          }

    .info{
        float: center;
        width: 100%;
    }
    .pets{
        float: center;
        width: 100%;
    }
  }
  

header { 
    align-content: right;
    background-color: #70a48b;
    vertical-align: top
    
}
nav {
    float: right;
    border-style: solid;
    border-color: black;
    color: black;
    
}
nav li {
        display: inline-block;
        font-size: 20px;
}

body { 
    font-size: 15px;
}
.button{
    color: white;
    background-color: black;
    border-color: black;
}
.info {
    float: left;
    width: 33.33%;
}
h2 {
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    background-color: #70a48b;
    color: white;
    padding: 5px;
    width: 400px;
    
}
.pets{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 70px;
    width: 66.66%;
    border-radius: 10px;
    margin: auto;
} 
.pet1{

}
.pet2{

}
.pet3{

}
.pet4 {

}
.pet5{

}

.pet6{

}
.footer {
    background-color: #70a48b;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10 rem; 
}