
.content {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow:hidden;
    align-items: flex-start;
}

header { 
    background-color: #70a48b;
    position: fixed;
    height: 250px; 
    top: 0;
    left: 0;
    right: 0;
}

.headerImage{
    border-radius: 10px;
    height: 120px;
}
.topnav {
    border-style: solid;
    border-color:white;
    border-radius: 20px;
    float: center; 
    display: flex;
}
nav {
    padding-left: 100px;
}
.nav ul li {
    overflow: auto;
    margin: auto;
    font-size: 16px;
    display:inline-block;
    zoom: 1;
}

body { 
    font-size: 30px;
    padding-top: 300px;
    padding-bottom: 150px;

}
.button{
    color: white;
    background-color: #1f211c;
    border-color: #1f211c;
}
.info {
    justify-content: center;
    align-items: center;
    text-align: center;
    float: left;
}
.info h2 {
    border-style: solid;
    border-radius: 5px;
    border-color: #1f211c;
    background-color: #70a48b;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.info p {
    font-size: 30px;
}
.pets{
    /* height: 70px;
    width: 66.66%; */
    justify-content: center;
    align-items: center;
    float: left;

} 
.imageContainer {
    flex-grow: 1;
    float: left;
}

.rightSide {
    flex-grow: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
}

.petTitle {
    justify-content: center;
    align-items: center;
    text-align: center;
    float: left;

}

.petPic {
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150x;
    float: left;
    border-radius: 10px;
    margin: 10px;


}
.footer {
    background-color: #70a48b;
    position: fixed;
    bottom: 0;
    left: 0;
    right:0;
    height: 5 rem; 
    justify-content: center;
    align-items: center;
}
.footerImage{
    border-radius: 10px;
    height: 100px;
}

@media (min-width: 768px) {
    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    header { 
        width: 100%;
        height: 150px;
    }
    
    footer {
        width: 100%;
        height: 100px;

    }
    nav {
        float: right;
        padding-right: 150px;
        margin-top: 50px;
        
    }
    nav, ul, li {
            font-size: 25px;
            display:inline-block;
            zoom: 1;
            padding-right: 20px;
    }
    
    body { 
        font-size: 25px;
        padding-top: 150px;
        padding-bottom: 0px;
    }
    .button{
        color: white;
        background-color: #1f211c;
        border-color: #1f211c;
    }
    .info {
        float: center;
        width: 33.33%;
        padding-left: 25%;
    }
    h1 {
        font-size: 30px;
        padding-top: 5%;
        padding-left: 50%;
        width: 100%;
    }
    h2 {
        border-style: solid;
        border-radius: 5px;
        border-color: #1f211c;
        background-color: #70a48b;
        color: white;
        padding: 5px;
        width: 400px;
        
    }
    .pets{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        /* height: 70px;
        width: 66.66%; */
        border-radius: 10px;
    } 
    
    .rightSide {
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        padding-top: 0;
    }
    
    .petTitle {
        width: 100%;
        margin: auto;
        padding-left: 5%;
        padding-top: 0;
    }
    
    .petPic {
        height: 300px;
        width: 300px;
    }
    .footer {
        background-color: #70a48b;
        position: fixed;
        bottom: 0;
        left: 0;
        right:0;
        width: 100%;
        height: 5 rem; 
    }
}